<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLICKR_URL_SCHEME</key>
	<string>https</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FLICKR_BASE_URL</key>
	<string>www.flickr.com</string>
	<key>FLICKR_API_KEY</key>
	<string>1533550949344b03a5e07219186c3b7f</string>
	<key>FLICKR_RESPONSE_FORMAT</key>
	<string>json</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
